/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  height: 200vh;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #0D0D0D;
  position: fixed;
  z-index: 2;
}

.material-icons, .logo {
  font-size: 3rem;
  color: #F2E5D5;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}
header {
  width: 100%;
  height: 100vh;
  background: url(../assets/bg-header.webp) center/cover fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
header h1 {
  font-size: 3rem;
}
@media screen and (min-width: 680px) {
  header h1 {
    font-size: 4.4rem;
  }
}
@media screen and (min-width: 2000px) {
  header h1 {
    font-size: 8rem;
    line-height: 4.8rem;
  }
}
header::before {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  position: absolute;
}
header .hederBox {
  padding-left: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
@media screen and (min-width: 680px) {
  header .hederBox {
    padding-left: 40px;
  }
}
@media screen and (min-width: 2000px) {
  header .hederBox {
    padding-left: 40px;
  }
}
header .tittle {
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: #F2E5D5;
}
header .text {
  width: 90%;
  margin-bottom: 40px;
  font-style: italic;
  color: #F2E5D5;
}
@media screen and (min-width: 680px) {
  header .text {
    width: 60%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 2000px) {
  header .text {
    width: 60%;
    font-size: 2rem;
  }
}
header .navi {
  width: 150px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #F2E5D5;
  color: #0D0D0D;
  transition: 0.4s;
}
header .navi:hover {
  background-color: #0D0D0D;
  color: #F2E5D5;
  transform: translateX(10px);
}
header .tittle, header .text, header .navi {
  animation: show 0.5s;
}

main {
  height: 90vh;
  background-color: #0D0D0D;
}

footer {
  height: 10vh;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  align-items: end;
}

.back {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
