%properties {
    display: block;

    margin-bottom: 5px;
    width: 100%;
    font-size: 1.6rem;

}

form {
    width: 50%;
}

label {
    @extend %properties;

    margin-top: 20px;
    margin-bottom: 20px
}

input {
    @extend %properties;
    
    font-family: inherit;

    padding: 10px;

    border: 1px solid lightgray;
    border-radius: 4px;
    outline: 0;

    &:focus {
        border-color:  gray;
    }

    &[type="submit"] {
        margin-top: 30px;
        margin-bottom: 20px;
        transition: .5s;
        &:hover {
            background-color: lightgray;
        }
    }
}

textarea {
    @extend input;

    resize: none;

    margin-bottom: 20px;
}