// import
@use "variables" as *;
@use "mixins" as *;

@keyframes show {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1;}
}

// html
header {
    width: 100%;
    height: 100vh;

    background: url(../assets/bg-header.webp) center/cover fixed;

    display: flex;
    justify-content: start;
    align-items: center;

    h1 {
        font-size: 3rem;

        @include mdScreen {
            font-size: 4.4rem;
        }

        
        @include lgScreen {
            font-size: 8rem;
            line-height: 4.8rem;
        }
    }

    &::before {
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);

        content: "";
        display: block;
        position: absolute;
    }

    
    // content
    .hederBox{
        padding-left: 10px;
        z-index: 1;

        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;

        @include mdScreen {
            padding-left: 40px;
        }

        
        @include lgScreen {
            padding-left: 40px;
        }
    }

    .tittle {
        margin-bottom: 40px;

        font-weight: 400;
        letter-spacing: 5px;
        word-spacing: 10px;


        color: $color3;
    }

    .text {
        width: 90%;
        margin-bottom: 40px;

        font-style: italic;

        color: $color3;

        @include mdScreen {
            width: 60%;
            font-size: 2rem;
        }

        
        @include lgScreen {
            width: 60%;
            font-size: 2rem;    
        }
    }

    .navi {
        width: 150px;
        height: 40px;
        border-radius: 6px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;

        background-color: $color3;
        color: $color5;

        transition: 0.4s;
    }

    .navi:hover {
        background-color: $color5;
        color: $color3;
        
        transform: translateX(10px);
    }

    .tittle, .text, .navi {
        animation: show 0.5s;
    }
}