header {
    width: 100%;
    height: 100vh;
    background: url(../assets/bg-header.webp) center/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 5rem;
    }
}

// content
.tittle {
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: white;
    filter: drop-shadow(0 0 10px rgb(75, 75, 75));
    text-align: center;
}