@use "variables" as *;

main {
    background-color: $color5;
}

section {
    min-height: 100vh;

    padding-top: 160px;

    color: $color3;

    h2 {
        font-size: 2rem;

        margin-bottom: 50px;

        text-align: center;
    }

    p {
        margin-bottom: 30px;
        line-height: 1.4rem;

        padding: 5px;
    }
}
