@use "variables" as *;

main {
    background-color: white;
}

section {
    min-height: 100vh;

    padding-top: 160px;

    color: $color5;

    h2 {
        font-size: 3rem;

        font-weight: 400;

        margin-bottom: 50px;

        text-align: center;
    }

    p {
        margin-bottom: 30px;
        line-height: 1.4rem;

        padding: 5px;
    }

    &:nth-of-type(even) {
        background-color: whitesmoke;
    }
}
